@media screen and (max-width: 1440px) {
	.carousel-control-prev,
	.carousel-control-next {
		color: var(--white);
		font-size: 1.5rem;
		transition: all 0.3s;
	}
}
@media screen and (max-width: 1024px) {
	

	.single-review:nth-child(even) {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	

	
	.carousel-item {
		min-height: 80vh;
	}
	.ah-left{
		border: none;
	}
}

@media screen and (max-width: 425px) {
	
	.carousel-item {
		min-height: 100vh;
	}
	
}
